In [ ]:
l = []

In [ ]:
for i in range(10):
    l.append(i*i)

In [ ]:
l

In [ ]:
[i*i for i in range(10)]

In [ ]:
!whereis spark

In [ ]:
import findspark

In [ ]:
findspark.init('/usr/local/spark')

In [ ]:
import pyspark

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.appName("Json example").getOrCreate()

In [ ]:
spark

In [ ]:
df1 = spark.read.json('ex.json')

In [ ]:
df1.show()

In [ ]:
df1.printSchema()

In [ ]:
from pyspark.sql.types import StringType, StructField, StringType, IntegerType, StructType

In [ ]:
df_schema = [StructField('age',IntegerType(), True), StructField('name',StringType(), True)]

In [ ]:
df_schema

In [ ]:
final_schema = StructType(df_schema)

In [ ]:
df2 = spark.read.json('ex.json',schema=final_schema)

In [ ]:
df2.show()

In [ ]:
df2.printSchema()

In [25]:
df2.show()

+----+-----+
| age| name|
+----+-----+
|null|  Ram|
|  20|Bheem|
|  18| Shiv|
+----+-----+

In [27]:
df2.withColumn('double_age',df2['age']*2).show()

+----+-----+----------+
| age| name|double_age|
+----+-----+----------+
|null|  Ram|      null|
|  20|Bheem|        40|
|  18| Shiv|        36|
+----+-----+----------+

In [ ]:
df2