In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# Import files

In [ ]:
# CSV file
# pd.read_csv

In [ ]:
df = pd.read_csv("D:/data/mtcars.csv")

In [ ]:
df.head(5)

In [ ]:
df.to_csv('D:/data/newmtcars.csv', index=True)

In [ ]:
# excel_file = pd.read_excel("path")

In [ ]:
#help(pd.read_csv)

In [ ]:
#help(pd.read_table)

In [ ]:
#help(pd.read_excel)

In [ ]:
df = pd.DataFrame({'Groceries': [np.nan,4,6,8], 'Cosmetics':[1,np.nan,8,np.nan],'Furnitures':['x','y','z','p']})

In [ ]:
df

In [ ]:
# Data Cleaning

# Missing values, negative values, mismatching data, duplicate

In [ ]:
df.shape

In [ ]:
df['Cosmetics'].mean()

In [ ]:
df['Groceries'].mean()

In [ ]:
# 3 ways of handling missing values

In [ ]:
# Delete the rows which has missing values
# Delete the columns which has missing values
# Replace the missing values with a logic that suits the business problem

In [ ]:
df.isna()

In [ ]:
df.isna().sum()

In [ ]:
df.dropna()

In [ ]:
help(df.dropna)

In [ ]:
df.dropna(axis=1)

In [ ]:
df.dropna(thresh=3, axis=1)

In [ ]:
df.fillna(0)

In [ ]:
help(df.fillna)

In [ ]:
df1 = df['Cosmetics'].fillna(value=df['Cosmetics'].mean())

In [ ]:
df1

In [ ]:
mtcars = pd.read_csv("D:/data/mtcars.csv")

In [ ]:
mtcars.shape

In [ ]:
mtcars.info()

In [ ]:
mtcars.head()

In [ ]:
mtcars.tail()

In [ ]:
mtcars['cyl'].nunique()

In [ ]:
mtcars['cyl'].value_counts()

In [ ]:
# Descriptive Statistics

# Univariate Analysis : Analysing each columns at a time
# Multi variate Analysis : Comparing more than one column at a time.

In [ ]:
# Measures of Central Tendency : mean, median & mode

In [ ]:
import seaborn as sns

In [ ]:
sns.distplot(mtcars['mpg'])

In [ ]:
mtcars['mpg'].mean()

In [ ]:
mtcars['mpg'].median()

In [ ]:
# mean ==median==mode

In [ ]:
mtcars['mpg'].value_counts()

In [ ]:
# Measures of Dispersion : range, variance, standard deviation, Quartiles

In [ ]:
max(mtcars['mpg'])

In [ ]:
min(mtcars['mpg'])

In [ ]:
mtcars['mpg'].var()

In [ ]:
np.sqrt(mtcars['mpg'].var())

In [ ]:
mtcars['mpg'].std()

In [ ]:
sns.boxplot(y=mtcars['mpg'])

In [ ]:
mtcars.plot(y='mpg', kind='box')

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
plt.boxplot('mpg', data=mtcars)
plt.show()

In [ ]:
# Inter quartile range = q3-q1

In [ ]:
# outlier_upper_whisker = q3+1.5*(IQR)

In [ ]:
# outlier_Lower_whisker = q1-1.5*(IQR)

In [ ]:
Q1 = mtcars['mpg'].quantile(0.25)

In [ ]:
Q1

In [ ]:
Q3 = mtcars['mpg'].quantile(0.75)

In [ ]:
IQR = Q3-Q1

In [ ]:
Q3+1.5*(IQR)

In [ ]:
Q1-1.5*(IQR)

In [ ]:
# Measures of Shape : Skewness and Kurtosis

In [ ]:
mtcars['mpg'].skew()

In [ ]:
# Skewness is between -0.5 & 0.5 --> Fairly Symmetrical
# Skewness is between -1 & -0.5 or between 0.5 & 1 --> Moderately skewed
# Skewness is less than -1 or greater than 1 --> Highly skewed

In [ ]:
mtcars['mpg'].kurt()

In [ ]:
# Kurtosis = 0 (Mesokurtic) (Normally distributed)
# Kurtosis > 0 (Leptokurtic) (Higher peek)
# Kurtosis < 0 (Platykurtic)(Flatter tails)

In [ ]:
mtcars.describe().transpose()

In [ ]:
diabetes = pd.read_csv("D:/data/diabetes.csv")

In [ ]:
diabetes.info()

In [ ]:
diabetes['insulin'].value_counts()
data1=diabetes
try:
    count=0
    for i in range(data1['insulin'].count()):           
        if data1['insulin'][i]==0:
            count+=1
            data1['insulin'][i]=105
    print(count)
except:
    print("fail")

In [ ]:
data1.describe()

In [ ]:
diabetes

In [ ]:
sns.boxplot(mtcars['cyl'],mtcars['mpg'])

In [ ]:
diabetes.shape

In [ ]:
diabetes.info()

In [ ]:
diabetes.isna().sum()

In [ ]:
diabetes.describe()

In [ ]:
diabetes['diabetes'].value_counts()

In [ ]:
diabetes[['glucose','pressure','age','mass','insulin','triceps']].replace(0,np.nan)
#dia[['glucose','pressure','age','mass',,'insulin','triceps']].dropna()

In [ ]:
df1 = pd.read_csv("D:/data/Regression.csv")

In [ ]:
df1['Age'].min()

In [ ]:
df1['Age'].max()

In [ ]:
df1['Age'].mean()

In [ ]:
df1.describe()

In [ ]:
df1.isna().sum()

In [ ]:
df1['Age'].isna()

In [ ]:
df1[df1['Age'].isna()]

In [ ]:
for i in df1['Age']:
    print(df1[df1['Age'].isna()])

In [ ]:
df1.columns

In [ ]:
age_grp = df1[['Age','Job Type']].groupby('Job Type').mean()

In [ ]:
age_grp

In [ ]:
df1.columns

In [ ]:
def impute1(column):
    Age = column[0]
    JobType = column[1]
    
    if pd.isna(Age):
        if JobType == 'Employed' :
            return 38
        elif JobType == 'Retired':
            return 50
        elif JobType == 'Student':
            return 35
        else:
            return 37
    else:
        return Age

In [ ]:
df1["Age"] = df1[["Age","Job Type"]].apply(impute1, axis=1)

In [ ]:
df1.isna().sum()

In [ ]:
df1

In [ ]:
df2 = pd.read_csv("D:/data/Regression.csv")

In [ ]:
df1.groupby('Job Type').Age.agg(np.mean)

In [ ]:
for i in df2['Job Type']:
    if i=='Unemployed':
        df2['Age'].replace(np.nan,37.708333,inplace=True)
    elif i=='Employed':
        df2['Age'].replace(np.nan,37.168831,inplace=True)

In [ ]:
df2

In [ ]:
df2=df1.groupby(['Job Type']).mean()
age_emp=df2.iloc[0,0]
age1
age_ret=df2.iloc[1,0]
age2
age_stu=df2.iloc[2,0]
age3
age_unemp=df2.iloc[3,0]
age4

for i in df1['Age']:
    if 'Age'== np.nan and 'Job Type'=="Employed":
        df1['age']=df1['age'].replace(np.nan,age_emp)
    elif 'Age'== np.nan and 'Job Type'=="Retired":
        df1['Age']=df1['Age'].replace(np.nan,age_ret)
    elif 'Age'== np.nan and 'Job Type'=="Student":
        df1['Age']=df1['Age'].replace(np.nan,age_stu)
    else:
        df1['Age']=df1['Age'].replace(np.nan,age_unemp)

In [ ]:
# Visualisation
# Matplotlib
# Seaborn
# ggplot2
# Plotly

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# Univariate analysis

In [ ]:
mtcars.plot(y='mpg')

In [ ]:
plt.hist(x='mpg',data=mtcars)

In [ ]:
sns.boxplot(y='mpg',data=mtcars)

In [ ]:
plt.scatter('wt','mpg',data=mtcars)
plt.xlabel('Weight')
plt.ylabel('Mileage')
plt.show()

In [ ]:
#help(plt.scatter)

In [ ]:
#help(sns.boxplot)

In [ ]:
sns.boxplot("cyl","mpg", data=mtcars)

In [ ]:
mtcars['cyl'].value_counts()

In [ ]:
sns.countplot(mtcars['cyl'])

In [ ]:
sns.barplot(x='cyl',y='mpg', hue = 'gear', data=mtcars)

In [ ]:
#help(sns.barplot)

In [ ]:
sns.violinplot("cyl","mpg", data=mtcars)

In [ ]:
mtcars.corr()

In [ ]:
#help(sns.heatmap)

In [ ]:
sns.heatmap(mtcars.corr(), annot=True)

In [ ]:
sns.pairplot(mtcars)

In [ ]:
#help(plt.pie)

In [ ]:
sns.lmplot(y='mpg',x='hp',data=mtcars)

In [ ]:
# Do a detailed analysis of the churn dataset and send a report of the insights

In [ ]:
# Inferential Statistics

In [ ]:
# Population & Sampling

In [ ]:
# Probability Sampling : Simple random sampling, Stratified sampling, Systematic sampling, Cluster Sampling

In [ ]:
# Non-probability Sampling : Judgemental,Quota,Convenience

In [ ]:
# Empirical Rule

In [ ]:
# Central Limit Theorem

In [ ]:
# Hypothesis Testing

# Continuous Random Variables
# Discrete Random Variables

In [ ]:
# Hypothesis Testing for Continuous Random Variables

# Parametric Tests
# Non-parametric Tests

In [ ]:
# Z-Test, Student's T-Test, ANOVA, CHISQUARE

In [ ]:
# One Tailed Tests / Directional : In the problem statement there is already a direction

# Two Tailed Tests / Non-Directional: There is no specific direction

In [ ]:
# Z - Test : 

# The Sample data should be normally distributed
# Population standard deviation is known

In [ ]:
# Construct the Hypothesis

In [ ]:
# Ha : sample_mean > Population_mean [One tailed or directional problem]
# Ha : sample_mean!= Population_mean {Two-tailed problem}
# H0 : Sample_mean == Population_mean

In [ ]:
# sample_mean = 112.5
# Population_mean = 100
# Std. Population = 15
# n = 30
# alpha = 0.05

In [ ]:
# Test Statistics = 4.56

In [ ]:
# Critical Value = 1.645 [One tailed Test]
# Critical Value = +-1.96 [Two tailed test]

In [ ]:
# T.stats > Critical Value

In [ ]:
# Accept the Ha --> The claim is true

In [ ]:
# T-Test

# Standard deviation of Sample is used
# Degrees of freedom to identify Critical Value

# d.f for one sample test --> n-1
# d.f for multiple samples --> n-k

In [ ]:
# ANOVA : Analysis of Variance : If there are more than two samples
# CHI SQUARE : Categorical data

In [ ]:
# P-value : marginal error

# Confidence Interval : Confidence of the experiment

In [ ]:
# Scipy
import numpy
import scipy
import math
from numpy.random import randn

In [ ]:
from scipy.stats import norm

In [ ]:
from statsmodels.stats.weightstats import ztest
from statsmodels.stats.weightstats import ttest_ind

In [ ]:
sample_mean = 112.5
sd_pop = 15
alpha = 0.05
pop_mean = 100
n = 30
sd_pop = 15/numpy.sqrt(n)

In [ ]:
sam_data = sd_pop*randn(30)+sample_mean

In [ ]:
sam_data.mean()

In [ ]:
sd_pop

In [ ]:
sam_data

In [ ]:
sns.distplot(sam_data)

In [ ]:
ztest_score, p_value = ztest(sam_data, value=pop_mean, alternative='larger')

if (p_value<alpha):
    print("Reject the null Hypothesis: Principal's students have more IQ than Population")
else:
    print("If sample IQ>Pop.IQ, it is random by chance and hence accepting NULL hypothesis")

In [ ]:
p_value

In [ ]:
ztest_score

In [ ]:
from scipy.stats import ttest_ind

In [18]:
sample1 = [5,9,4,8,7,11,10,8,6,7]
sample2 = [4,7,3,7,5,9,8,6,4,6]

Test_stats,p,df = ttest_ind(sample1,sample2, alternative='larger')

Test_stats, p, df

(1.748056897750151, 0.0487449237101306, 18.0)

Accept Ha since p-value is 0.04 (The sample2 had less defective pieces than sample1
if it is random by chance, the radomness(p-value) is 4%

In [20]:
alpha = 0.05

In [ ]:
help(ttest_ind)

In [ ]:
import numpy as np

In [ ]:
s1 = np.array(sample1)
s2 = np.array(sample2)

In [21]:
ttest, p_value, df = ttest_ind(s2,s1,alternative='smaller')

if (p_value<alpha):
    print("Reject the null Hypothesis: The production of defective parts has reduced in sample 2")
else:
    print("If sample IQ>Pop.IQ, it is random by chance and hence accepting NULL hypothesis")

Reject the null Hypothesis: The production of defective parts has reduced in sample 2

In [ ]:
help(ttest_ind)

In [ ]:
ttest

In [ ]:
p_value

In [ ]:
df

In [ ]:
# ANOVA

In [ ]:
# SSE [Variance Within Samples] : substract each items with the mean and take the sum of the squared distance of all the samples
# SSC [Variance Between Samples] : Substract the mean of each sample by the grand mean(mean of ll samples put together) and then take total distance

# MSC : SSC/k-1

# MSE : SSE/n-k

# Ftest : MSC/MSE 

# Compare test stats(ftest) with degrees of freedom

In [23]:
import pandas as pd

In [24]:
df1 = pd.DataFrame({'NYC':[980,776,923,1498,999],'CA':[1123,1357,1152,921,959], 'LA':[1084,1025,1114,1182,1022]})

In [25]:
df1

    NYC    CA    LA
0   980  1123  1084
1   776  1357  1025
2   923  1152  1114
3  1498   921  1182
4   999   959  1022

In [26]:
df1[['NYC','CA','LA']].mean()

NYC    1035.2
CA     1102.4
LA     1085.4
dtype: float64

In [ ]:
# Find out weather sales depend on Cities

In [ ]:
#help(stats.f_oneway)

In [27]:
import scipy.stats as stats

In [28]:
fval,pval = stats.f_oneway(df1['NYC'],df1['CA'],df1['LA'])
print("Test Stats is {} and the pvalue is {}".format(fval, pval))

if pval<0.05:
    print("Sales depend on cities : Alternate Hypothesis")
else:
    print("Sales doesn't depend on Cities : NULL Hypothesis")

Test Stats is 0.1674988772246274 and the pvalue is 0.8477211677490336
Sales doesn't depend on Cities : NULL Hypothesis

# NULL Hypothesis

sample_mean==Pop.mean 

sam1_mean == sam2_mean 

sam1_mean==sam2_mean==sam3_mean==sam...n_mean

In [ ]:
from statsmodels.stats.oneway import anova_oneway

In [ ]:
#help(anova)

In [ ]:
df_new = pd.melt(df1.reset_index(), id_vars=['index'], value_vars=['NYC','CA','LA'])

In [ ]:
help(pd.melt)

In [ ]:
df_new

In [ ]:
df1

In [ ]:
df_new.columns = ['index','cities','value']

In [ ]:
import statsmodels.api as sm

In [ ]:
from statsmodels.formula.api import ols

In [ ]:
model = ols('value~(cities)', data=df_new).fit()

In [ ]:
anova_table = sm.stats.anova_lm(model)

In [ ]:
anova_table

In [ ]:
sns.boxplot(x='cities',y='value', data=df_new)